{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron">
        <h1 class="display-3">Parier c'est gagné!</h1>
        <p class="lead">Bienvenue sur le premier site de pari en ligne !</p>
        <hr class="my-4">
        <p>Tentez votre chance et remporter jusqu'à 100 000 ! A vos marques, prêt ? PARIEZ !.</p>
        <p class="lead">
            <a class="btn btn-warning btn-lg" href="/bet" role="button">Je parie</a>
        </p>
    </div>
{% endblock %}


