 {% extends 'base.html.twig' %}
 {% block body %}

  {% if isOk %}
  <h1>votre pari a bien été. Cliquez ici sur le bouton en dessous pour lancer le jeu et voir les résultats  <a class="btn btn-warning btn-lg" href="/partyResult" role="button">C'est party !</a> </h1>


  {% else %}

 <h1>{{ "Faites vos jeux !" }}</h1>

  {{ form_start(BetForm) }}
  {{ form_rest(BetForm) }}
  <button type="submit" class="btn btn-outline-info">Valider mon pari</button>
  {{ form_end(BetForm) }}

  {% endif %}


 {% endblock %}